<div class="col-md-8 blog-main">
  <h3 class="pb-4 mt-4 font-italic">
    My Blogs
  </h3>

  <h6 class="pb-4 mb-4 font-italic border-bottom">
    <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
  </h6>
  
  <%= paginate @blogs %>

  <%= render @blogs %>

  <%= paginate @blogs %>
</div>
